{% extends "base.html" %} 
{% load static %}
{% block content %}

<!-- Header content -->
<div class="header-content">
    <div class="container">
      <h1>Welcome to Anto-Restaurant</h1>
      <p>Unforgettable Dining, Memorable Moments, The magic of the orient in Darmstadt</p>
    </div>
</div>
<!-- Main content -->
<div class="main-content">
    <div class="container">
        <!-- About us section -->
        <section id="about-us" class="text-center">
            <h2 class="welcome"><span>Welcome<i class="fas fa-globe" aria-hidden="true"></i></span></h2>
            <div id="about-text">
                <p>Welcome to Anto-Restaurant. At Restaurant, we want nothing less than to enchant you. As our name suggests, you can experience with us in Darmstadt, with all your senses, what the magic of the Orient has to offer in terms of beauty. With lovingly prepared dishes and a sophisticated ambiance, we would like to enchant you. The Orient as an authentic experience and a special atmosphere awaits you in our restaurant in Darmstadt.</p>
            </div>
            <div class="text-center">
                <img src="{% static 'images/baner.jpg' %}" alt="Picture of the restaurant interior" class="img-fluid">
            </div>
        </section>
    </div>
</div>

{% endblock %}    