@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body, html {
   margin: 0;
   padding: 0;
   background-color: #fff;
}
 
/* Global styles */

body {
    font-family: 'Roboo',t sans-serif;
}
  
/* Navigation styles */

.navbar {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
  
.navbar-brand {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}
  
.nav-link {
    font-weight: 600;
    text-transform: uppercase;
}
