@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body, html {
   margin: 0;
   padding: 0;
   background-color: #fff;
}
 
/* Global styles */

body {
    font-family: 'Roboo',t sans-serif;
}
  
/* Navigation styles */

.navbar {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
  
.navbar-brand {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}
  
.nav-link {
    font-weight: 600;
    text-transform: uppercase;
}

/* Header styles */

.header-content {
    background-image: url('https://res.cloudinary.com/df8bd97ok/image/upload/v1693832072/hm-soy-sauce-noodles-with-cabbage-mpwf-mediumSquareAt3X_ifmrxo.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px #0c0c0cfb;
    font-weight: 650;
}

.header-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
  
.header-content p {
    font-size: 18px;
}

/* Main content styles */

.main-content {
    background-color: #fff;
    padding: 40px;
    margin-top: -40px;
    text-transform: uppercase;
}

/* --------------------Footer----------------------- */

footer{
    flex-shrink: 0;
    text-transform: uppercase;
   
}
.footer {
    z-index: 1;
    background-color: #fff;
    color: #3a3a3a;
}
footer a {
    color: var(--green);
}

footer a:hover {
    color: #3a3a3a;
}

footer i:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #3a3a3a;
}


